page-wheel {
  .background{
    background-color:  #566573;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .background2{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    padding-top: 10%;
  }
}
