<ion-header>
  <ion-navbar color="primary">
    <ion-title>Discover Restaurants</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click) = "getSettings()"><ion-icon name="cog"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">
  <div class="filters">

    <label>Category:</label>
    <select [(ngModel)]="categoryfilter" style="width: 33%">
      <option value="category"></option>
      <option *ngFor="let category of categories" value="{{category}}">{{category}}</option>
    </select>

    <label>Price:</label>
    <select [(ngModel)]="pricefilter" style="width: 33%">
      <option value="price"></option>
      <option value="$"> $ </option>
      <option value="$ $"> $ $ </option>
      <option value="$ $ $"> $ $ $ </option>
      <option value="$ $ $ $"> $ $ $ $ </option>
      <option value="$ $ $ $ $"> $ $ $ $ $ </option>
    </select>

  </div>

  <button ion-button half (click)="filter(categoryfilter, pricefilter)" style="float: left; height: 30px; width: 45%;">Save Filters</button>
  <button ion-button half (click)="clearFilters()" style="float: right; height: 30px; width: 45%;">Clear Filters</button>

  <ion-list>
    <ion-card *ngFor="let filteredItem of filteredItems" (click)="viewItem(filteredItem)">
      <img src="{{filteredItem.url}}" style= "height:90px;" />
      <ion-card-content>
        <ion-card-title >
          {{filteredItem.name}}, {{filteredItem.price}}
        </ion-card-title>
        {{filteredItem.address}}, {{filteredItem.category}}
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
